# Environments
.env
/venv
.venv/
env/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs & Monitoring
/logs/
*.log
/mlruns/
mlflow.db

# Large Data & Models (WAJIB DI-IGNORE karena diurus DVC)
/data/raw/
/data/processed/
*.bin
*.pt
*.pth

# IDE & OS
.vscode/
.idea/
.DS_Store

# Distribution / Packaging
dist/
build/
*.egg-info/